//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_tab {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp TAB>;
        };

        combo_enter {
            bindings = <&kp ENTER>;
            key-positions = <16 17 18>;
        };

        combo_backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <9 8>;
        };

        combo_delete {
            bindings = <&kp DELETE>;
            key-positions = <8 7>;
        };

        combo_copy {
            bindings = <&kt LC(C)>;
            key-positions = <23 22>;
        };

        combo_paste {
            bindings = <&kt LC(V)>;
            key-positions = <23 24>;
        };

        combo_cut {
            bindings = <&kt LC(X)>;
            key-positions = <21 22>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        Main {
            label = "MAIN";
            bindings = <
         &kp Q  &kp W  &kp F  &kp P  &kp G        &kp J            &kp L   &kp U                &kp Y             &mt QUESTION EXCLAMATION
         &kp A  &kp R  &kp S  &kp T  &kp D        &kp H            &kp N   &kp E                &kp I             &kp O
&kp ESC  &kp Z  &kp X  &kp C  &kp V  &kp B        &kp K            &kp M   &mt SEMICOLON COMMA  &mt COLON PERIOD  &mt BACKSLASH SLASH       &mt DOUBLE_QUOTES SINGLE_QUOTE
                       &none  &to 2  &kp SPACE    &kp RIGHT_SHIFT  &tog 1  &kp RIGHT_GUI
            >;
        };

        Navegation {
            bindings = <
             &none  &none           &kp UP_ARROW    &none            &kp C_VOLUME_UP      &msc SCRL_DOWN  &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &mt HOME PAGE_UP
             &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp C_VOLUME_DOWN    &msc SCRL_UP    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mt END PAGE_DOWN
&kp C_POWER  &none  &none           &none           &none            &kp K_MUTE           &none           &none           &none           &none            &none              &kp K_LOCK
                                    &none           &tog 2           &none                &none           &tog 0          &kp RIGHT_GUI
            >;

            label = "NAV";
        };

        Math {
            bindings = <
       &none  &none  &none       &kp LEFT_BRACKET      &kp RIGHT_BRACKET        &kp EQUAL  &kp N7  &kp N8      &kp N9  &kp NUMBER_0
       &none  &none  &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp PLUS   &kp N4  &kp N5      &kp N6  &kp ASTERISK
&none  &none  &none  &none       &kp LESS_THAN         &kp GREATER_THAN         &kp MINUS  &kp N1  &kp N2      &kp N3  &kp SLASH     &kp PERCENT
                     &none       &tog 0                &none                    &none      &tog 1  &kp PERIOD
            >;

            label = "MATH";
        };

        Symbols {
            bindings = <
       &none   &none  &none       &kp UNDERSCORE  &kp TILDE    &kp EQUAL  &none  &none  &none     &none
       &kp AT  &none  &kp DOLLAR  &kp HASH        &none        &kp PLUS   &none  &none  &kp PIPE  &kp ASTERISK
&none  &none   &none  &none       &kp CARET       &none        &kp MINUS  &none  &none  &none     &kp SLASH     &kp PERCENT
                      &none       &none           &none        &none      &none  &none
            >;
        };
    };
};
